h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
}

button.icon-button {
    background-repeat: no-repeat !important;
    background-size: contain;
    background-color: unset;
    border: none;
    outline: none;
    font-weight: bold;
}
