@page "/"
<PageTitle>Home</PageTitle>

<h1 class="text-center text-primary">Chào mừng đến với ứng dụng đổi màu xe</h1>
<h2 class="text-center text-warning">Vui lòng nhấn menu Car để sử dụng ứng dụng</h2>
