@page "/skills"

<div class="skills">
    <div class="skills__content d-flex flex-column justify-content-center">
        <h2 class="mb-5">skills</h2>
        <h3 class="mb-3">Programming Languages & Tools</h3>
        <div class="programming-language-list mb-2">
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fa-brands fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-square-js"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-angular"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-react"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-node-js"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-sass"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-less"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-wordpress"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-gulp"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-grunt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa-brands fa-npm"></i>
                </li>
            </ul>
        </div>
        <h3 class="mb-3">Workflow</h3>
        <ul>
            <li>
                <i class="fa-solid fa-check"></i>
                Mobile-First, Responsive Design
            </li>
            <li>
                <i class="fa-solid fa-check"></i>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <i class="fa-solid fa-check"></i>
                Cross Functional Teams
            </li>
            <li>
                <i class="fa-solid fa-check"></i>
                Agile Development & Scrum
            </li>
        </ul>
    </div>
</div>