@* login có đường dẫn là localhost:<tên port>/login *@
@page "/login"

@* phần code giao diện  *@

<br>
<h3 class="text-center">Login</h3>
@* bs5-form-email *@
<div class="mb-3">
    <label for="" class="form-label">Email</label>
    <input
        type="email"
        class="form-control"
        name=""
        id=""
        aria-describedby="emailHelpId"
        placeholder="abc@mail.com"
    />
    <small id="emailHelpId" class="form-text text-muted">Help text</small>
</div>
