@inherits LayoutComponentBase

<div class="d-flex">
    <div class="" style="width:20%; background-color: #f8f9fa; padding: 10px; height: 100vh">
        <nav class="d-flex justify-content-center align-items-center" style="height: 100%;">
            <ul class="nav nav-link flex-column ">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/admin">Super Admin</a></li>
                <li><a href="/admin">Super Admin</a></li>
                <li><a href="/admin">Super Admin</a></li>
                <li><a href="/admin">Super Admin</a></li>
                <li><a href="/admin">Super Admin</a></li>
                <li><a href="/admin">Super Admin</a></li>
                <li><a href="/admin">Super Admin</a></li>
                <li><a href="/admin">Super Admin</a></li>

            </ul>
        </nav>
    </div>

    <div class="content">
        @Body
    </div>

</div>