@page "/counter_b"
@inject CounterService _counterService
@implements IDisposable

<h3>Counter</h3>
<p>Current count: @_counterService.CurrentCounter</p>
<button class="btn btn-primary" @onclick="IncrementCount">Tăng</button>
<button class="btn btn-primary" @onclick="DecreaseCount">Giảm</button>

@code {
    protected override void OnInitialized() {
        // đăng ký sự kiện OnChange của CounterService
        // lắng nghe thông báo khi giá trị thay đổi
        _counterService.OnChange += HadChangedState;
    }
    public async void HadChangedState() {
        await InvokeAsync(() => StateHasChanged());
    }

    // Biến để lưu trữ giá trị hiện tại của bộ đếm
    
    // gọi hàm TangCounterr của CounterService
    public void IncrementCount() {
        _counterService.TangCounter();
    }

    public void DecreaseCount() {
        _counterService.GiamCounter();
    }

    public void Dispose() {
        // huy dang ky su kien OnChange khi component bi huy
        _counterService.OnChange -= HadChangedState;
    }
} 