<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" aria-current="page" activeClass="active--menu" href="/" Match="NavLinkMatch.All">home</NavLink>
                </li>
                <li class="nav-item px-4">
                    <NavLink class="nav-link" aria-current="page" activeClass="active--menu" href="/change-car" Match="NavLinkMatch.All">car</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
